body{
    background-color: #9A96A8;
}
.main_container {
    width: 60%;
    min-height: 600px;
    background-color: #eee;
    border-radius: 10px;
    border: 1px solid grey;
    display: inline-block;
    float: left;

}
.left_container {
    width: 25%;
    min-height: 600px;
    border-radius: 10px;
    border: 1px solid grey;
    display: inline-block;
    margin-left: 5px;
    
    

}
.top_container{
  min-height: 50px;
  width: 100%;
  background-color: #cce;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: 1px solid grey;
}
.create_container{
    position: relative;
    top: 10px;
    left: 40px;
}

.stack_container, .queue_container {
  position: relative;
  top: 15px;
  width: 45%;
}

.stack_container { 
  float: left;
  text-align: center;

}

.queue_container {
 float: right;
 text-align: center;
}

.list {
 position:relative;
 right: 20px;
}



#li {
 list-style-type: none;
 align-content: center;
 font-family: sans-serif;
 color: white;
 font-weight: 800;
 width: 50%;
 background-color: #cdf;
 border: 1px solid #666CFF;
 margin: 2px;
}

#obj_li {
cursor: pointer;
}



.push_btn{}