body{
    background-color: #3B8686;
    
}
.main_container {
    width: 60%;
    min-height: 600px;
    background-color: #d8d8d8;
    border-radius: 10px;
    display: inline-block;
    float: left;
    color: #767676;
    font-family: monospace;

}
.left_container {
    width: 25%;
    min-height: 600px;
    border-radius: 10px;
    background-color: #f4e6ce;
    display: inline-block;
    margin-left: 5px;

}
.top_container{
  min-height: 50px;
  width: 100%;
  background-color: #0B486B;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: 1px solid grey;
  font-family: monospace;
  font-weight: 800;
  min-height: 60px;
  
}
.create_container{
    position: relative;
    top: 20px;
    left: 40px;
}

.stack_container, .queue_container {
  position: relative;
  top: 15px;
  width: 45%;
}

.stack_container { 
  float: left;
  text-align: center;

}

.queue_container {
 float: right;
 text-align: center;
}

.list {
 position:relative;
 right: 20px;
}



#li_s, #li_q {
 font-size: 18px;
 letter-spacing: 3px;
 list-style-type: none;
 align-content: center;
 font-family: sans-serif;
 color: white;
 font-weight: 800;
 background-color: #e2ad4a;
 margin: 2px;
 border-radius: 4px;
}


#li_q {
 
 background-color: #b9e24a;

}

#obj_ul {
cursor: pointer;
text-align: center;
list-style-type: none;
margin: 10px;
font-size: 20px;
font-family: sans-serif;
font-weight: 800;
color: #fff;


}

.clearTxt, .btn{
  border-radius: 5px;
  padding: 4px;
  border-style: none;
}

.btn {
  border: 1px solid #efefef;
  background-color: #efefef;
  margin: 5px;
}

.btn:hover{
  border: 1px solid grey;
  cursor: pointer;
}

#typeSelected {
 border-radius: 2px;
 
}


